openapi: 3.0.1
info:
  title: AppTienda API
  version: 0.1.0
servers:
  - url: http://localhost:8081
paths:
  /api/productos:
    get:
      summary: Lista productos
      parameters:
        - in: query
          name: categoria
          schema:
            type: string
      responses:
        '200':
          description: OK
    post:
      summary: Crear producto
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Producto'
      responses:
        '201':
          description: Created
  /api/productos/{id}:
    get:
      summary: Obtener producto por id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
    put:
      summary: Actualizar producto
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Producto'
      responses:
        '200':
          description: OK
    delete:
      summary: Eliminar producto
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No Content
components:
  schemas:
    Producto:
      type: object
      properties:
        id:
          type: integer
        nombre:
          type: string
        precioCompra:
          type: number
        precioVenta:
          type: number
        stock:
          type: integer
        categoria:
          type: string
        imagenUrl:
          type: string
        activo:
          type: boolean
